* {
    box-sizing: border-box;
}

/*Display settings for navigation bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3%;
  }

/*Display settings for main body of page*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%
}

.main p {
    margin: 0%;
}

.main button {
    margin: 3%;
}

/*All buttons within a section will display flex column*/
section button {
    display: flex;
    flex-direction: column;
}
